.mask {
  /* Style for "L3A8643" */
  width: 100%;
  height: 61.72vw;
  background-image: url("../img/L3A8643.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 50% 30%;
  background-color: #000000;
  background-blend-mode: screen;
}

.radial-grad-img {
  height: 61.72vw;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  position: relative;
}

.linear-grad-img {
  height: 312px;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.mask .row {
  min-height: 33.33%;
}

.hover-svg:hover {
  fill: #f7ce9bf3;
  cursor: pointer;
}

/* The top bar */

.row.head > [class*="col-"],
.row.head .col,
.row.head .col-fixed {
  border: 1px solid rgb(255, 255, 255, 0.2);
  border-top: none;
  height: 6.17vw;
}

/* .menu-button{
  position: absolute;
  bottom: -5;
  right:-70;
} */

.col-8.justify-content-center {
  height: 6.17vw;
}

.mask svg {
  line-height: 28px;
}

.title {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: "Recoleta";
  line-height: 33px;
  text-align: right;
  padding-top: 2.16%;
  padding-right: 20.18%;
  flex-grow: 1;
}

.icons-top {
  padding: 2.65vw 3.39vw;
  padding-top: 2.5vw;
  width: 190px;
  flex-grow: 0;
}

.icons-top a {
  padding-right: 10px;
}

.rectangle {
  box-sizing: border-box;
  height: 22px;
  width: 14px;
  border: 1px solid #b38a58;
  border-radius: 2px;
  padding: 17.5px 4px 2.5px 2.5px;
  margin: 0;
}

.path {
  box-sizing: border-box;
  height: 0px;
  width: 7px;
  border: 0.25px solid #b38a58;
  border-radius: 2px;
  background-color: #b38a58;
}

ul {
  list-style-type: none;
  margin: 0;
  align-items: center;
}

.phone-nr ul li {
  display: inline;
  /* line-height: 50px; */
}

.number {
  height: 18px;
  width: 116px;
  color: #ffffff;
  font-family: "Recoleta";
  font-size: 13px;
  letter-spacing: 2.36px;
  line-height: 18px;
}

.phone-nr li a {
  display: block;
  height: 23px;
  width: 15px;
}

.phone-nr {
  padding: 2.53vw 2.46vw 2.28vw 2.22vw;
  align-items: center;
  position: relative;
  width: 219px;
  flex-grow: 0;
}

.icons-top.button {
  padding-left: 2.39vw;
  padding-right: 2.39vw;
  text-align: center;
  border-right: 0;
}

.left-nav-side {
  border-left: 0px;
}

.left-nav-side button {
  position: relative;
}

.left-nav-side .menu-button {
  padding-left: 0;
}

.left-nav-side svg {
  margin-top: 3px;
}

button {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
  align-items: center;
  height: auto;
  width: auto;
  color: white;
  font-family: "Recoleta";
  font-size: 13px;
  letter-spacing: 2.36px;
  line-height: 22px;
  cursor: pointer;
}
button:focus {
  outline: 0;
}

.icons-top button:hover {
  color: #f7ce9bf3;
  font-weight: 600;
}

/* end of Top bar */

.flex-container {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.flex-container > div {
  border: 1px solid rgb(255, 255, 255, 0.2);
  border-top: none;
  height: 6.17vw;
}

.align-items-center p {
  margin-top: 2.09vw;
  margin-bottom: 0;
}

.align-items-end {
  padding: 0 3.95vw;
  padding-bottom: 2.45vw;
  height: 16.69vw;
  position: absolute;
  bottom: 0;
}

.align-items-end li {
  text-align: center;
}

.align-items-end li {
  padding-bottom: 10px;
}

.align-items-end button {
  position: relative;
  height: 91px;
  height: 91px;
}

.align-items-center .col {
  text-align: center;
}

button img {
  position: absolute;
  left: 30px;
  top: 30px;
}

.raiting {
  /* text-align: center; */
  font-family: "Recoleta";
  font-size: 12px;
  letter-spacing: 2.18px;
  line-height: 16px;
  width: 94px;
  float: left;
}

.line {
  box-sizing: border-box;
  height: 1px;
  width: 40px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0;
  position: relative;
  display: inline-block;
  margin-bottom: 3px;
}

.fill {
  box-sizing: border-box;
  height: 1px;
  width: 20px;
  border: 1px solid #b38a58;
  background-color: #b38a58;
  border-radius: 1px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: -1;
  left: -1;
}

.right-bottom {
  padding-top: 4.53vw;
  display: block;
  position: absolute;
  left: 85.24vw;
}

.align-items-end .col {
  display: flex;
  justify-content: space-between;
  padding: 0;
  position: relative;
}
.align-items-end button {
  cursor: pointer;
  position: absolute;
  left: 42vw;
}

.first-body-section {
  height: 497px;
  padding-top: 124px;
  text-align: center;
}

.first-body-section h3 {
  margin-bottom: 40px;
}

.second-body-section {
  position: relative;
}

.second-body-section .col-xl-6.order-1.order-lg-2,
.col-lg-6.order-1.order-lg-1 {
  /* position: relative; */
  height: 500px;
}

.col-lg-6.text {
  /* text-align: center; */
  padding-left: 15%;
  padding-right: auto;
}

.second-body-section .content p::before,
.third-body-section .content p::before {
  content: "";
  box-sizing: border-box;
  height: 1px;
  width: 400px;
  /* border: 1px solid #b38a58; */
  background-color: #b38a58;
  position: absolute;
  left: 0;
}

.line-7 {
  box-sizing: border-box;
  height: 1px;
  width: 400px;
  /* border: 1px solid #b38a58; */
  background-color: #b38a58;
  position: absolute;
  left: 0;
}

.second-body-section h2,
.second-body-section p,
.third-body-section h2,
.third-body-section p {
  text-align: left;
}

.second-body-section .food-right {
  height: 580px;
  width: 640px;
  background: url("../img/bitmap.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: -30px;
  right: 0;
}

.second-body-section .food-right::after{
  content:"";
  height: 39.5vw;
  width: 19.62vw;
  background-color: #eae0d5;
  position: absolute;
  top: -10.24vw;
  right: 0;
  z-index: -1;
}

.rectangle-copy-5 {
  height: 39.5vw;
  width: 19.62vw;
  background-color: #eae0d5;
  position: absolute;
  top: -10.24vw;
  right: 0;
}

.food-left img {
  height: 33.33vw;
  width: 28.39vw;
}

.food-left {
  z-index: 5;
  background: none;
}

.food-left::before {
  content: "";
  height: 50.61vw;
  width: 30.24vw;
  z-index: -1;

  background-color: #eae0d5;
  position: absolute;
  left: 0;
  top: 165px;
}

.phone-icon {
  display: none;
}
.col-lg-6.order-2.order-lg-2 {
  padding: 0;
  padding-top: 25%;
  padding-right: 10%;
  text-align: center;
  overflow: hidden;
}

.col.col-xl-6.order-1.order-lg-1 {
  /* display: block; */
  height: 820px;
  padding-top: 260px;
  padding-left: 11.11vw;
  position: relative;
}

.row.end {
  height: 550px;
  position: relative;
}

.food-middle {
  height: 394px;
  width: 320px;
  position: absolute;
  left: 50vw;
  top: 5vw;
}

.food {
  opacity: 0.05;
  color: #000000;
  font-family: ".SF NS Display";
  font-size: 300px;
  line-height: 64px;
  position: absolute;
  top: 60px;
  right: -50px;
}

.img-mask {
  background-image: url("../img/tables.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* background-position: center top; */
  height: 880px;
  width: 100%;
  opacity: 0.3;
}

.mask-table {
  background-color: #121212;
  position: relative;
}

.menu {
  padding-top: 11.79vw;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.menu ul li {
  display: inline;
  line-height: 50px;
}

.menu button {
  height: 60px;
  width: 180px;
  border: 1px solid white;
  margin: 0 30px;
}

.menu button:hover {
  background-color: white;
  color: #000000;
  font-weight: 600;
}

.social-network .insta-button:hover {
  background-color: white;
  color: #000000;
  /* font-weight: 600; */
}

.notification {
  font-family: "Recoleta";
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.third-body-section {
  padding-top: 13.08vw;
  background-color: #fbfaf9;
  height: 61.72vw;
  min-height: 700px;
  position: relative;
}

.col-lg-6.img {
  position: relative;
}

.rectangle-copy-3 {
  height: 55.55vw;
  width: 30.24vw;
  background-color: #eae0d5;
  position: absolute;
  right: 0;
  top: -13.08vw;
}

.col-lg-6.img img {
  height: 35.92vw;
  width: 28.39vw;
  position: absolute;
  top: 13.08vw;
  right: 11.11vw;
}

.placeholder {
  opacity: 0.05;
  color: #000000;
  font-family: ".SF NS Display";
  font-size: 18.51vw;
  line-height: 64px;
  position: absolute;
  left: -5;
  top: -10;
}

.review-social-network {
  position: relative;
  height: 45.17vw;
  width: 100%;
  background-color: #fbfaf9;
}

.social-network {
  padding: 0;
  padding-top: 5.8vw;
  height: 48.14vw;
  width: 50vw;
  background-color: #3c3c3c;
  text-align: center;
  position: absolute;
  left: 0;
  top: -2.46vw;
}

.social-net-title {
  font-family: "Recoleta";
  font-size: 15px;
  line-height: 24px;
}

.review-social-network img {
  height: 25.92vw;
  width: 18.51vw;
}

.social-network ul {
  margin-top: 1.85vw;
}
.social-network ul li {
  display: inline;
  padding-right: 9.72vw;
}

.insta-button {
  margin-top: 2.46vw;
  box-sizing: border-box;
  height: 55px;
  width: 170px;
  border: 1px solid white;
}

.review {
  box-sizing: border-box;
  padding: 0;
  padding-top: 5.8vw;
  height: 48.14vw;
  width: 50vw;
  background-color: #ffffff;
  text-align: center;
  position: absolute;
  right: 0;
}

.review .social-net-title {
  margin-bottom: 6.85vw;
}

.romb1 {
  opacity: 0.6;
  z-index: 3;
  width: 9px;
  height: 9px;
  border: solid 1px #b38a58;
  transform: rotate(45deg);
}

.romb2 {
  z-index: 3;
  width: 9px;
  height: 9px;
  background: #b38a58;
  border: solid 1px #b38a58;
  transform: rotate(45deg);
}

.romb3 {
  opacity: 0.6;
  z-index: 3;
  width: 9px;
  height: 9px;
  border: solid 1px #b38a58;
  transform: rotate(45deg);
}

.review ul li {
  display: inline;
  padding-right: 14px;
}

.review ul {
  padding-top: 3.08vw;
}

footer {
  position: relative;
  height: 800px;
  width: 100%;
}

.background-footer {
  width: 100%;
  height: inherit;
  background-color: #202020;
  background-image: url("../img/pattern2.png");
  background-repeat: repeat;
  background-size: 100% inherit;
  background-position: center center;
  position: absolute;
  bottom: 0px;
  z-index: -1;
  margin: 0;
  padding: 0;
}

.pattern {
  width: 100vw;
  height: 800px;
  background-image: url("../img/pattern2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  right: 0;
  bottom: 0;
}


.side-content p {
  font-family: "Recoleta";
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}


.email {
  height: 56px;
  width: 300px;
  background-color: #ffffff;
}

.email::placeholder {
  color: #646463;
  font-family: ".SF NS Display";
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.submit-email,
.header-button {
  box-sizing: border-box;
  height: 56px;
  width: 300px;
  border: 1px solid #b38a58;
  position: relative;
}

.header-button {
  display: none;
}

.submit-email:hover,
.header-button:hover {
  background-color: #b38a58;
}

.header-button svg {
  position: absolute;
  right: 10px;
}

.sms-form {
  opacity: 0.6;
  font-family: "Recoleta";
  font-size: 14px;
  line-height: 24px;
}
.email-decorator {
  text-decoration: underline;
  text-decoration-color: #b38a58;
  cursor: pointer;
}

.col-lg-4::after {
  content: "";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 210px;
  width: 0.05px;
  border: 1px dashed #ffffff;
  opacity: 0.3;
  position: absolute;
  top: 0;
  right: 0;
}

.col-lg-4.right-side::after {
  display: none;
}

.circular-div {
  display: inline-block;
  box-sizing: border-box;
  height: 45px;
  width: 45px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  text-align: center;
  padding-top: 15px;
  cursor: pointer;
}

.circular-div:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.social-icons-footer {
  /* text-align: center; */
}

footer ul li {
  display: inline;
  margin: 5px;
  /* margin: 15px 0; */
}

.term-privacy {
  font-family: "Recoleta";
  font-size: 11px;
  letter-spacing: 2px;
  line-height: 24px;
  text-align: center;
}

.term-privacy {
  position: absolute;
  bottom: 30px;
  right: 42.5vw;
  left: 42.5vw;
}

footer ul::after {
  position: absolute;
  bottom: 90px;
  left: 35.93vw;
  right: 35.93vw;
  content: "";
  box-sizing: border-box;
  height: 0.5px;
  width: 28.39vw;
  background-color: #979797;
  border: 0.5px solid #979797;
  opacity: 0.4;
}

.arrow-up {
  box-sizing: border-box;
  padding: 40px;
  display: block;
  height: 101px;
  width: 100px;
  background-color: #181818;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.arrow-up:hover {
  background-color: white;
}

.new-line-mobile {
  display: none;
}

.social-net a {
  cursor: pointer;
}

.social-net .last-icon {
  padding-bottom: 0;
}

.half-br {
  line-height: 10px;
}

.second-section {
  position: relative;
}

.social-network .arrow-right {
  padding-right: 0;
}

footer .content {
  text-align: center;
  padding-top: 200px;
}

.email-form svg {
  position: absolute;
  right: 10px;
}

footer h6 {
  font-family: "Recoleta DEMO";
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  line-height: 33px;
}

h6.header{
  font-family: "Recoleta DEMO";
  font-size: 15px;
  font-weight: 400;
  line-height: 96px;
  text-transform: uppercase;
}

/* .descritption h3::after{
  content: url(../svg/curly-line.svg);
  /* text-align: center;
  position: absolute;

  bottom: 0;
  left:47.10%;
} */

@media only screen and (min-width: 1621px) {
  .icons-top,
  .icons-top.button,
  .phone-nr {
    width: 300px;
  }

  .icons-top,
  .icons-top.button,
  .phone-nr {
    width: 350px;
  }

  .icons-top svg {
    width: 25px;
    height: 25px;
  }

  .phone-nr svg {
    width: 40px;
    height: 40px;
  }
  .number {
    font-size: 20px;
  }

  .icons-top.button button {
    font-size: 20px;
  }
  .title {
    font-size: 28px;
    padding-top: 2.88%;
  }

  .review-social-network {
    height: 45.17vw;
  }
}

@media only screen and (max-width: 1199px) {
  .title,
  .icons-top {
    text-align: center;
    padding: 1.85vw 0;
  }

  .icons-top {
    padding-top: 2.5vw;
  }

  .icons-top.button {
    padding: 2.55vw 0;
  }
  h1 {
    font-size: 60px;
    line-height: 68px;
  }

  .second-body-section .food-right {
    height: 480px;
    width: 540px;
  }

  .menu {
    padding-top: 9.79vw;
  }

  .social-network {
    top: -1.46vw;
  }
  .review-social-network {
    height: 37.03vw;
  }
}

@media only screen and (max-width: 999px) {
  .review {
    bottom: -2.08vw;
  }

  .third-body-section .col-lg-6.img {
    display: none;
  }
  .review-social-network h4 {
    font-size: 16px;
    line-height: 26px;
  }
}

@media only screen and (max-width: 960px) {
  footer {
    height: 1400px;
  }

  .pattern {
    display: none;
  }

  .col-lg-4::after {
    display: none;
  }

  .left-side::before {
    content: "";
    opacity: 0.3;
    z-index: 6;
    width: 0.5px;
    height: 300px;
    border: dashed 0.5px #ffffff;
    transform: rotate(-90.00001deg);
    position: absolute;
    top: 70;
    left: 50vw;
  }

  .review-social-network {
    height: auto;
  }

  .review-social-network .row {
    width: 100vw;
    margin: 0;
  }

  .social-network,
  .review {
    position: static;
    height: 600px;
    width: 100vw;
  }

  .review-social-network img {
    height: 357px;
    width: 255px;
  }
  .food-left img {
    height: 398px;
    width: 339px;
  }
  .food-left::before {
    height: 520px;
    width: 276px;
  }
}

@media only screen and (max-width: 899px) {
  h1 {
    font-size: 50px;
    line-height: 54px;
  }
  .new-line {
    display: none;
  }

  .right-bottom {
    left: 80.24vw;
  }

  .align-items-end button {
    left: 40vw;
  }

  .title {
    font-size: 15px;
  }

  .phone-nr {
    padding: 0;
    padding-left: 2.22vw;
    padding-bottom: 1.28vw;
    padding-top: 2.1vw;
  }

  .col-lg-6.order-2.order-lg-2 {
    padding-top: 30%;
    padding-left: 10%;
  }

  .review-social-network h4 {
    font-size: 16px;
    line-height: 26px;
  }

  .review .social-net-title {
    margin-bottom: 57px;
  }

  .review ul {
    padding-top: 84px;
  }
  .review {
    bottom: -2.08vw;
  }

  .third-body-section .col-lg-6.img {
    display: none;
  }

  .menu-button,
  .icons-top.button,
  .header-paragraph {
    display: none;
  }

  .new-line-mobile {
    display: block;
  }

  .header-button {
    display: inline-block;
  }

  .radial-grad-img,
  .mask {
    height: 72.72vw;
  }

  .mask .row {
    min-height: 28.33%;
  }
}

@media only screen and (max-width: 780px) {
  .icons-top,
  .icons-top.button {
    width: 100px;
  }
  .phone-nr {
    width: 150px;
    padding-left: 8px;
  }

  .title {
    padding-bottom: 10px;
  }

  /* h1 {
    font-size: 35px;
    line-height: 28px;
  } */

  .col-lg-6.order-2.order-lg-2 {
    padding-top: 40%;
    padding-left: 10%;
  }

  .food {
    display: none;
  }
  .menu ul li {
    display: block;
    margin: 15px 0;
  }

  .third-body-section .col-lg-6.img {
    display: none;
  }

  .phone-nr-ul {
    display: none;
  }

  .phone-nr {
    width: 100px;
    padding-left: 40px;
  }
  .phone-icon {
    display: inline-block;
  }

  .food-middle {
    left: auto;
    right: 34px;
  }

  .flex-container > div {
    height: 81px;
  }

  .icons-top button,
  .phone-nr button {
    height: 50px;
  }

  .title {
    line-height: 4;
  }
}

@media only screen and (max-width: 650px) {
  .radial-grad-img,
  .mask {
    height: 772px;
  }

  .right-bottom,
  .social-net {
    display: none;
  }

  .align-items-end button {
    position: relative;
  }

  .align-items-end {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
